New-PagerDutyIncident.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "defaultValue": "New-PagerDutyIncident",
            "type": "String",
            "metadata": {
                "description": "Name of the logic app."
            }
        },
        "location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "String",
            "metadata": {
                "description": "Location of the logic app."
            }
        },
        "azuresentinel_Connection_Name": {
            "defaultValue": "azuresentinel",
            "type": "String",
            "metadata": {
                "description": "Azure Sentinel connection"
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('azuresentinel_Connection_Name')]",
            "location": "[parameters('location')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'azuresentinel')]"
                },
                "displayName": "[parameters('azuresentinel_Connection_Name')]"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2016-06-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[parameters('azuresentinel_Connection_Name')]"
            ],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    },
                    "actions": {
                        "Add_comment_to_incident_(V3)": {
                "inputs": {
                    "body": {
                        "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                        "message": "<a href=\"@{body('Create_PagerDuty_incident')?['incident']?['html_url']}\" target=_blank>PagerDuty Incident link</a>"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment"
                },
                "runAfter": {
                    "Create_PagerDuty_incident": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Alert_-_Get_incident": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                },
                "runAfter": {
                    "Initialize_service": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Compose": {
                "inputs": "@body('Add_comment_to_incident_(V3)')?['incident']?['html_url']",
                "runAfter": {
                    "Add_comment_to_incident_(V3)": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Compose_incident_body": {
                "inputs": "Description: @{body('Alert_-_Get_incident')?['properties']?['description']}\n\nSentinel Incident URL: @{body('Alert_-_Get_incident')?['properties']?['incidentUrl']} ",
                "runAfter": {
                    "Alert_-_Get_incident": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Create_PagerDuty_incident": {
                "inputs": {
                    "body": {
                        "incident": {
                            "body": {
                                "details": "@outputs('Compose_incident_body')",
                                "type": "incident_body"
                            },
                            "service": {
                                "id": "@variables('service')",
                                "type": "service_reference"
                            },
                            "title": "@body('Alert_-_Get_incident')?['properties']?['title']",
                            "type": "incident",
                            "urgency": "high"
                        }
                    },
                    "headers": {
                        "Accept": "application/vnd.pagerduty+json;version=2",
                        "Authorization": "@variables('apiToken')",
                        "Content-Type": "application/json",
                        "From": "@variables('caller')"
                    },
                    "method": "POST",
                    "uri": "https://api.pagerduty.com/incidents"
                },
                "runAfter": {
                    "Compose_incident_body": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_apiToken": {
                "inputs": {
                    "variables": [
                        {
                            "name": "apiToken",
                            "type": "string",
                            "value": "Token token=your_apiToken"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_caller": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_caller": {
                "description": "Caller for PagerDuty incidents",
                "inputs": {
                    "variables": [
                        {
                            "name": "caller",
                            "type": "string",
                            "value": "user@company.com"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_service": {
                "inputs": {
                    "variables": [
                        {
                            "name": "service",
                            "type": "string",
                            "value": "your_service_id"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_apiToken": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
                        
                    
            
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_Connection_Name'))]",
                                "connectionName": "[parameters('azuresentinel_Connection_Name')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }

    ],
    "outputs": {

        "logicAppUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('logicAppName')), '/triggers/When_a_response_to_an_Azure_Sentinel_alert_is_triggered'), '2016-06-01').value]"
        }
    }
}